# Virtual environment
venv/
.env/
.envrc/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Dataset files (optional but recommended)
data/
*.csv

# OS files
.DS_Store
Thumbs.db
